body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

li {
    padding: 8px;
    }

/* http://stackoverflow.com/questions/8290447/remove-horizontal-spacing-when-using-positionrelative-in-navigation-bar */
/* a.navbar { position:relative; left:-20px; right: 20px;} */
a.navbar:link	 { text-shadow:none; padding: 5px 0px; white-space:nowrap; font-size:15px;}
a.navbar:visited { text-shadow: #4444FF 0.0px 0.0px 2px}
a.navbar:hover	 { background:#cccccc;  } /* font-weight: bold;} */
a.navbar:active	 { } /* font-weight: bold;} */
a.navbar {padding:none; font-size:15px;}
a.navbar:before {content:'['; display:inline; font-size:25pt; color:white; position:relative; left:-3px; top:3.5px}
a.navbar:after {content:']'; display:inline; font-size:25pt; color:white; position:relative; right:-3px; top:3.5px}

span.leftbraces { font-size:25pt; padding: 0px 0px; 
    position:relative; right:-9px;  bottom:-3.75px;}
span.rightbraces { font-size:25pt; padding: 0px 0px; 
    position:relative; left:-9px;  bottom:-3.75px;}

p.navbar {
    /* background-color: #090909; */
    color: white;
    font-style: normal;
    font-family: "Georgia";
    font-size:   15px;
    text-align:center;
    padding-left: -10px;
    
}

/*span.skipspace {position:relative; left:-20px; float:right;}*/
span.skipspace {margin:-8px;}

table.navbar { 
    padding:0;
    margin:0;
    border:0;
    cellspacing:0;
    white-space:nowrap;
    font-size:0px;
    display:block;
    }

td.navbar { margin:-8px; }

nav {text-align:center;} /* this doesn't work ARGH WHY NO CENTER?!?!?!? */
/* nav ul {padding-left:-9px; left:-20px;} */
nav ul {
    padding: 0;
}

nav a:link    { text-decoration:none; 
             padding: 5px 0; white-space:nowrap; font-size:15px;}
nav a:visited { text-shadow: #4444FF 0.0px 0.0px 2px}
nav a:hover   { background:#444488;  } 
nav a:active  { }
nav li {padding:2px; font-size:15px; display:inline;}

nav a:before {content:'['; display:inline; font-size:35px; position:relative; top:4px; left:-3px; color:white;}
nav a:after {content:']'; display:inline; font-size:35px; position:relative; top:4px; right:-3px; color:white;}

.minorheaders {
    margin: -40px;
}
