
/* ---- Ginsburg's Stylesheet ---- */
/* Wow, I'm awesome */

/* Default Style */
body {
	background-color: black;
	color: white;
	font-style: normal;
	font-family: "Times New Roman";
	font-size:18px;
}

td {
    background-color: black;
    color: white;
    font-style: normal;
   	font-family: "Times New Roman";
	font-size:15px;
}

p {
    background-color: black;
    color: white;
    font-style: normal;
	font-family: "Times New Roman";
	font-size:18px;
}

div {
    background-color: black;
    color: white;
	font-family: "Times New Roman";
	font-style: normal;
	font-size:15px;
}
p.follow {
margin-bottom:0em;
}
ol {
margin-top:0em;
}

/* Link Style */
a:link		{ color:#66FF77 }
a:visited	{ color:#44DDBB }
/* a:visited	{ color:blue }*/
a:active	{ color:#3344DD }
a:hover		{ color:#3344FF }
a {text-decoration: none; }


/* custom link styles */
/* I don't think it should be possible to view my stylesheet from the 'net, but if you can, these are fun */
a.hidden:link		{ color:white }
a.hidden:visited	{ color:white }
a.hidden:hover		{ color:white }
a.hidden:active		{ color:white }

a.big:link		{ color:cyan ;
				font-weight:bold ;
				font-size:30px ;}
a.big:visited	{ color:cyan ;
				font-weight:bold ;
				font-size:30px ;}
a.big:hover		{ color:#FF3300; 
				font-weight:bold ;
				font-size:30px ;}
a.big:active	{ color:#FF3300; 
				font-weight:bold ;
				font-size:30px ;}
a.big {text-decoration: underline;}				

a.special:link {color:#FF6611;}
a.special:visited {color:#FF6611}
a.special:hover {color:#FF3322}
a.special:active {color:#FF3322}

a.norm:link		{ color:cyan ;}
a.norm:visited	{ color:cyan ;}
a.norm:hover		{ color:#FF3300;}
a.norm:active	{ color:#FF3300; }
/*a.norm {text-decoration: underline;}		*/

/* Custom classes */
.sidebar {
    font-size: 15px;
}

.sectionHeader {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-indent: 125px;
}

.divider {
    background-color: black;
    width: 1px;
}

.divider2 {
    background-color: black;
}

.white {
    color: white;
    font-style: italic;
}

.white2 {
    color: white;
}

.yellow {
    color: yellow;
}
